@font-face {
  font-family: "arzhu";
  /* src: url("https://cdn.jsdelivr.net/gh/xxx/xxx/font/xxx.ttf");  修改成你的字体  */
  font-display: swap;
}

#go-up i {
  display: none;
  background-color: transparent !important;
}

#go-up {
  background-color: transparent !important;
}

#upj {
  transform: translate(-70px, -80px) !important;
}

/*新版3.0.0以上添加up酱置顶ico图标上移问题*/
.fas.fa-arrow-up {
  line-height: 2;
}

/* 自定义字体 */
@font-face {
  font-family: "sleek";
  src: url("https://cdn.jsdelivr.net/gh/lete114/CDN2/zaxiang/sleek.woff2");
}

h1#site-title {
  font-family: arzhu !important;
}
span#subtitle {
  font-family: arzhu !important;
}
a#site-name {
  font-family: arzhu !important;
}

#recent-posts > .recent-post-item,
.layout_page > div:first-child:not(.recent-posts),
.layout_post > #page,
.layout_post > #post,
.read-mode .layout_post > #post {
  background: var(--light_bg_color);
}

#aside-content .card-widget {
  background: var(--light_bg_color);
}

#web_bg {
  /* background: linear-gradient(
    90deg,
    rgba(247, 149, 51, 0.1),
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1)
  ); */
}

#footer {
  color: #fff;
  /* border-top-right-radius: 20px; */
  /* border-top-left-radius: 20px; */
  /* backdrop-filter: saturate(100%) blur(5px); */
}

#footer::before {
  color: #fff;
}

#footer #footer-wrap {
  color: var(--font-color);
  color: #fff;
}

#footer #footer-wrap a {
  color: var(--font-color);
  color: #fff;
}

#recent-posts > .recent-post-item,
.layout_page > div:first-child:not(.recent-posts),
.layout_post > #page,
.layout_post > #post,
.read-mode .layout_post > #post {
  background-color: rgba(255, 255, 255, 0.9);
}

#aside-content .card-widget {
  /* background: var(--light_bg_color); */
  background-color: rgba(255, 255, 255, 0.9);
  /* background: #fff; */
}

.menus_item {
  color: #fff;
}

#nav a {
  color: black;
}

#page-header #site-title {
  color: black;
}
